base: &base
  adapter: sqlite3
  pool: 5
  timeout: 5000

test:
  <<: *base
  database: db/test.sqlite3

development:
  <<: *base
  database: db/development.sqlite3

production: &production
  <<: *base
  database: db/production.sqlite3

staging:
  <<: *production
  database: db/staging.sqlite3

